@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Gugi&family=Matemasie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Gugi&family=Matemasie&family=Shadows+Into+Light&display=swap');

#box {
border-top: 1px solid black;
border-left: 1px solid black;
border-bottom: 1px solid black;
border-right: 1px solid black;
}

buzz-aldrin{
    margin-left: 170px;
    

}

h1 {
    font-family: gugi;
}

figcaption {
    font-family:"shadows-into-light";

}