@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Chewy&family=Gugi&family=Matemasie&family=Shadows+Into+Light&display=swap');

body {
border: 3px solid rgba(0,0,0,1);
padding:20px;
font-family: "Quicksand", Georgia, sans-serif;
font-weight: 500;
font-size: 20px;
margin: auto;
min-width:890px;
}

h1 {
    font-family:"Chewy", Georgia, san-serif;
    font-size: 50px;

}

header, 
footer {
    background-color:rgba(102,187,145,0.46);
    border: 3px solid rgba(0,0,0,1);
}

main{
    margin:0 auto;
    border: 3px solid rgba(0,0,0,1);
}


a, 
a:visited{
    color:rgba(126, 42, 236, 0.8);
}

a, 
a:default{
    color:rgba(0, 0, 0, 0.8);
}
a,
a:link{
    color:rgba(10, 132, 188, 0.706);
}

a, 
a:hover{
    color:rgba(255, 255, 255, 0.8);
}
a, 
a:active{
    color:rgb(123, 251, 255);
}
#nation-description{
    grid-area:nation-description;
    grid-column: 1/3;
    grid-row:1;
    text-align: center;
    font-size: 30px;
    background-color:rgba(2, 145, 95, 0.46);
    border: 3px solid rgba(0,0,0,1);
    padding:10px;
}

#historical-origins{
grid-area: historical-origins;
grid-column:1;
grid-row:2;
background-color:rgba(105, 186, 158, 0.46);
border: 3px solid rgba(0,0,0,1);
padding:10px;
}

#rooftops{
grid-area:rooftops;
grid-column:2;
grid-row: 2;
background-color:rgba(105, 186, 158, 0.46);
border: 3px solid rgba(0,0,0,1);
padding:10px;
}

#key-events{
grid-area:key-events;
grid-column: 1;
grid-row:3;
background-color:rgba(105, 186, 158, 0.46);
border: 3px solid rgba(0,0,0,1);
padding:10px;

}

#capital-info{
    grid-area:capital-info;
    grid-column: 2;
    grid-row: 3;
    background-color:rgba(105, 186, 158, 0.46);
    border: 3px solid rgba(0,0,0,1);
    padding:10px;
}
img{
    max-width: 500px;
    max-height: 700px;
    border: 3px solid rgba(0,0,0,1);
    background-color:rgba(105, 186, 158, 0.46);
    border: 3px solid rgba(0,0,0,1);
}

.overview{
    display:grid;
    text-align:center;
    grid-row-gap: 20px;
    grid-column-gap:20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 1fr;
    border: 3px solid rgba(0,0,0,1);
}

#geography{
    display:grid;
    text-align:center;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 0.5fr;
    border: 3px solid rgba(0,0,0,1);
    padding:10px;
}

#geo-heading{
    grid-column: 1/span 2;
    grid-row:1;
    text-align: center;
    background-color:rgba(2, 145, 95, 0.46);
    border: 3px solid rgba(0,0,0,1);
    padding:10px;
}

#geo-title{
    font-size:30px;
}

#geo-heading > h2{
    font-size: 30px;
}

#map{
    grid-column: 1;
    grid-row:2;
    text-align: center;
    background-color:rgba(105, 186, 158, 0.46);
    border: 3px solid rgba(0,0,0,1);
    padding:10px;
}

#area{
    grid-column: 2;
    grid-row:2;
    text-align: center;
    background-color:rgba(105, 186, 158, 0.46);
    border: 3px solid rgba(0,0,0,1);
    padding:10px;
}

#area-table{
    max-width: 350px;
    padding-left: 175px;
}

#climate{
    grid-column: 1;
    grid-row:2;
    text-align: center; 
    background-color:rgba(105, 186, 158, 0.46);
    border: 3px solid rgba(0,0,0,1);
    padding:10px;
}

#population{
    grid-column: 1;
    grid-row:3;
    text-align: center; 
    background-color:rgba(105, 186, 158, 0.46);
    border: 3px solid rgba(0,0,0,1);
}

#land-use{
    padding-left:175px;
    padding-right:175px;

}

#natural-hazards{
    grid-column: 2;
    grid-row:3;
    text-align: center;  
    background-color:rgba(105, 186, 158, 0.46);
    border: 3px solid rgba(0,0,0,1);
    padding:10px;
}

#economy{
    display:grid;
    text-align:center;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 0.5fr;
    border: 3px solid rgba(0,0,0,1);
    padding:10px;
    margin:auto;
    max-height:auto;
}

#economic-overview{
    grid-column: 1/span 2;
    grid-row:1;
    text-align: center;
    background-color:rgba(2, 145, 95, 0.46);
    border: 3px solid rgba(0,0,0,1);
    padding:10px;
}

#economy-heading{
    font-size:30px;
}

#industrial-output{
    max-height: 426px;
    grid-column: 1;
    grid-row:2;
    text-align: center;
    background-color:rgba(105, 186, 158, 0.46);
    border: 3px solid rgba(0,0,0,1);
    
}

#industry-list{
    padding-left:175px;
    padding-top: 7px;
    padding-right:175px;
 
}

#exports{
    max-height: 426px;
    grid-column: 2;
    grid-row:2;
    text-align: center;
    background-color:rgba(105, 186, 158, 0.46);
    border: 3px solid rgba(0,0,0,1);
    padding:10px;
}

.export-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
}

#export-list{
    grid-column:1;
    grid-row:1;
}
#export-partners{
    grid-column:2;
    grid-row:1;
}
#poverty{
    grid-column: 1;
    grid-row:3;
    text-align: center;
    background-color:rgba(105, 186, 158, 0.46);
    border: 3px solid rgba(0,0,0,1);
    padding:10px;
    max-height: 426px;
}

.import-grid{
display:grid;
grid-template-columns:2;
grid-template-rows:1;
}

#import-partners{
    grid-column: 1;
    grid-row:1;
}

#import-commodities{
    grid-column:2;
    grid-row:1;
}

.poverty-grid{
    display:grid;
    grid-template-columns:2;
    grid-template-rows:1;
}

#poverty-list{
    grid-column:1;
    grid-row:1;
}

#unemployment-rate{
    grid-column:2;
    grid-row:1;
}

#imports{
    grid-column: 2;
    max-height: 426px;
    grid-row:3;
    text-align: center;
    background-color:rgba(105, 186, 158, 0.46);
    border: 3px solid rgba(0,0,0,1);
    padding:10px;
}

