/* stylesheet for constitution.html */
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Matemasie&display=swap');
body {
    color: red;
  }

body {
    font-family:"georgia","times-new-roman","serif"
}
body{
    color: #222;
}

#preamble{
background-color:rgba(14,31, 65, 0.2)
}

#preamble > p{
    font-size: 24px;
}

#preamble > p{
    font-style:italic;
}

alt-bg{
  background-color:rgba(201,53,68,0.2);  
}

a,
a:link{
    color:rgb(14,31,65);
}
a,
a:visited{
    color:#e0dcdc;
}

a,
a:hover{
    color:rgb(201,53,68)
}

a,
a:active{
    color:rgb(245,188,78)
}

h1,h2{
    text-shadow:#e0dc;
}

h1,h2,h3{
    font-family:"anton sc","serif"
}

p{
    font-family:"matemasie","serif"
}

h1{
    text-decoration: underline;
}

body > p{
 font-weight: 700px;
}